.sidebarContainer{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.title{
    font-size: clamp(25px, 5vw, 31px);
    font-weight: 500;
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 30px 25px;
}

.groupList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.groupItem{
    display: flex;
    padding: 10px;
    align-items: center;
    padding: 10px 50px;
    border-radius: 14px;
    transition: all 0.5s;
    cursor: pointer;
}

.groupItem:hover{
    background-color: #DCDCDC;
}

.groupIcon{
    width: clamp(60px, 7vw, 70px);;
    height: clamp(60px, 7vw, 70px);;
    position: relative;
    background-color: pink;
    border-radius: 50%;
    margin-right: 20px;
}

.groupIcon .Icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(18px, 5vw, 24px);
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

.groupName{
    font-size: clamp(18px, 5vw, 24px);
    font-weight: 500;
}

.AddBtn{
    width: clamp(70px, 7vw, 85px);
    height: clamp(70px, 7vw, 85px);
    border-radius: 50%;
    outline: none;
    border: none;
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: #16008B;
    font-size: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}