.container {
  position: relative;
  background-color: #d8e3f3;
  width: calc(100% - 350px);
  height: 100vh;
  overflow: hidden;
  
}

.header {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #001f8b;
  color: #ffffff;
  padding: 16px;
}

.backBtn{
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  display: none;
  cursor: pointer;
}

.notes {
  margin-top: 20px;
  padding: 0 50px;
  overflow-y: auto;
  height: calc(100% - 60px - 220px);
}

.note {
  position: relative;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  line-height: 25px;
  font-size: 17px;
  margin-bottom: 20px;
  padding-bottom: 40px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2) ;
}

.note p{
  padding: 5px 15px;
}

.date {
  position: absolute;
  right: 25px;
  bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #353535;
  display: flex;
  gap: 10px;
  align-items: center;
}

.textarea-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #001f8b;
  padding: 20px;
  width: 100%;
  height: clamp(130px, 10vw, 260px);
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 8px;
  padding-right: 40px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: #f3f4f6;
  font-size: clamp(17px, 4vw, 22px);
  line-height: 25px;
  letter-spacing: 0.7px;
  outline: none;
}

.send-icon {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: clamp(20px, 4vw, 30px);
  border: none;
}

@media screen and (max-width: 890px){
  .notes{
    padding: 0 10px;
    overflow-y: auto;
    height: calc(100% - 60px - 180px);
  }
}

@media screen and (max-width: 767px){
  .backBtn{
    display: block;
  }
}